* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

body {
  padding: 0 15px;
}
/* header style */
header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 87px;
  margin-bottom: 50px;
}
/* navbar styles */

ul li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 34px;
}
.navbar ul li {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}
header h3 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.bar i {
  font-size: 1.5rem;
  color: rgba(27, 27, 27, 1);
}
.bar {
  display: none;
}
.search i {
  font-size: 1.5rem;
  color: black;
}
.cart i {
  font-size: 2rem;
  color: black;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .desc {
  max-width: 580px;
}
.desc h2 {
  color: #3a3a3a;

  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 70px;
}
.desc p {
  max-width: 500px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  margin: 16px 0;
}

.desc button {
  padding: 10px 24px;
}
.desc button i {
  font-size: 1.5rem;
}
.desc button {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 41px;
  background: #e02c6d;
  border: none;
}

.hero .cover-image {
  max-width: 475px;
  background: url("./images/Circle\ design.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 33px 31px 0;
}
.cover-image .image {
  max-width: 440px;
}
.image img {
  width: 100%;
}
/* logo section design */
.logo {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.logos {
  padding: 35px 0 33px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
}
.logo hr {
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  border: none;
}

/* cards container design */

.cards-container {
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}
.cards-container .card {
  width: 329px;
  padding: 17px 15px;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.rating {
  width: 122px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating img {
  width: 11px;
}
.card .name {
  color: #18191f;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
  margin-top: 16px;
  margin-bottom: 6px;
}
.card .price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
.rating p {
  color: rgba(94, 99, 102, 1);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
}
.card > p {
  color: rgba(120, 120, 133, 1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  margin-top: 0;
}
.card > img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .navbar ul .navigation {
    display: none;
  }
  .bar {
    display: initial;
  }
  .hero {
    flex-direction: column-reverse;
    gap: 14px;
    text-align: center;
  }
  .desc button {
    display: block;
    margin: 0 auto;
  }
  .logo hr {
    display: none;
  }
  .logos {
    flex-wrap: wrap;
    gap: 30px;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar ul .navigation {
    display: none;
  }
  .bar {
    display: initial;
  }
  .hero {
    flex-direction: column-reverse;
    gap: 14px;
    text-align: center;
  }
  .desc button {
    display: block;
    margin: 0 auto;
  }

  .logos {
    flex-wrap: wrap;
    gap: 30px;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
